body {
    font-family: Lato, Arial, sans-serif;
    color: #333;
    background: #333;
}

.page {
    background: #eee;
}

header {
    background: #222;
    border-bottom: 2px solid #efdb10;
}

.logo {
    width: 72px;
    margin: 15px 0;
}

.person-name {
    color: #bbb;
    font-size: 2.2rem;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 5px;
}

.person-title {
    color: #888;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.125rem;
}

.hero {
    height: 50vh;
    min-height: 180px;
    max-height: 240px;
    background: url("../img/water_sunset_360.png") #ddd center/cover no-repeat;
    margin-bottom: 15px;
}

.quote {
    font-size: 1rem;
    color: #aaa;
    line-height: 1.6;
    font-style: italic;
    margin: 1em 0;
}

.feature-work {
    margin: 0 -15px;
    padding: 0 15px;
    background-color: #f1ecc1;
}

.feature-group {
    padding: 0 8px;
}

.feature-group-title {
    text-transform: uppercase;
}

.feature-item {
    margin-bottom: 1.5rem;
    padding: 0 7px;
}

.feature-item-img {
    width: 100%;
}

.feature-item-title {
    margin-top: 0.25rem;
    margin-bottom: 0;
}

footer {
    font-size: .85rem;
    color: #888;
    background: #222;
    border-top: 2px solid #888;
}

/* MEDIA QUERIES */

/* Bootstrap xs breakpoint */
@media (min-width: 360px) {
    .hero {
        min-height: 320px;
        max-height: 400px;
        background: url("../img/water_sunset_768.png") #ddd center/cover no-repeat;
    }
}

/* Bootstrap sm breakpoint */
@media (max-width: 576px) {
    .logo-wrapper {
        padding-left: 8px;
    }

    .logo {
        width: 48px;
        margin: 10px 0;
    }

    .person-name {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .person-title {
        font-size: 0.8rem;
    }

    .quote {
        font-size: 1.25rem;
        margin: 1em 1em;
    }
}

/* Bootstrap md breakpoint */
@media (min-width: 768px) {
    .quote {
        font-size: 1.25rem;
        margin: 1em 2em;
    }

    .feature-group-title {
        text-transform: none;
    }

    .feature-work {
        background-color: inherit;
    }
}

/* Bootstrap lg breakpoint */
@media (min-width: 992px) {
    .hero {
        min-height: 350px;
        max-height: 570px;
        background: url("../img/water_sunset_1200.png") #ddd center/cover no-repeat;
    }

    .quote {
        margin: 2em 5em;
    }

    .feature-item-link {
        font-size: 0.9rem;
    }
}

/* Bootstrap xl breakpoint */
@media (min-width: 1200px) {
    .quote {
        font-size: 1.5rem;
    }
}