// Main Font
$font-primary: Lato, Arial, sans-serif;

// Color Palette
$color-yellow: #efdb10;
$color-lightGray1: #eee;
$color-lightGray2: #aaa;
$color-lightGray3: #bbb;
$color-lightGray4: #888;
$color-darkGray1: #111;
$color-darkGray2: #222;
$color-darkGray3: #333;
$color-darkGray4: #444;

// Color assignments
$color-text: $color-darkGray3;
$color-body-bg: $color-darkGray3;
$color-page-bg: $color-lightGray1;
$color-header-bg: $color-darkGray2;
$color-footer-bg: $color-darkGray2;
$color-person-name: $color-lightGray3;
$color-person-title: $color-lightGray4;

// Media Query Breakpoints
$bp-xs: 360px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

body {
    font-family: $font-primary;
    color: $color-text;
    background: $color-body-bg;
}

.page {
    background: $color-lightGray1;
}

header {
    background: $color-header-bg;
    border-bottom: 2px solid $color-yellow;
}

.logo-wrapper {
    @media(max-width: $bp-sm) {
        padding-left: 8px;
    }
}

.logo {
    width: 72px;
    margin: 15px 0;

    @media(max-width: $bp-sm) {
        width: 48px;
        margin: 10px 0;
    }
}

.person {
    @media(max-width: $bp-sm) {
        padding-right: 8px;
    }
}

.person-name {
    color: $color-person-name;
    font-size: 2.2rem;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 5px;

    @media(max-width: $bp-sm) {
        font-size: 1.5rem;
        margin-top: 10px;
    }
}

.person-title {
    color: $color-person-title;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.125rem;

    @media(max-width: $bp-sm) {
        font-size: 0.8rem;
    }
}

/* Main image of home page */
.hero {
    height: 50vh;
    min-height: 180px;
    max-height: 240px;
    background: url('../img/water_sunset_360.png') #ddd center/cover no-repeat;
    margin-bottom: 15px;

    @media(min-width: $bp-xs) {
        min-height: 320px;
        max-height: 400px;
        background: url('../img/water_sunset_768.png') #ddd center/cover no-repeat;
    }
    @media(min-width: $bp-lg) {
        min-height: 350px;
        max-height: 570px;
        background: url('../img/water_sunset_1200.png') #ddd center/cover no-repeat;
    }
}

/* Main quote of home page */
.quote {
    font-size: 1rem;
    color: $color-lightGray2;
    line-height: 1.6;
    font-style: italic;
    margin: 1em 0;

    @media(min-width: $bp-sm) {
        font-size: 1.25rem;
        margin: 1em 1em;
    }
    @media(min-width: $bp-md) {
        font-size: 1.25rem;
        margin: 1em 2em;
    }
    @media(min-width: $bp-lg) {
        margin: 2em 5em;
    }
    @media(min-width: $bp-xl) {
        font-size: 1.5rem;
    }
}

.feature-work {
    margin: 0 -15px;
    padding: 0 15px;
    background-color: desaturate(lighten($color-yellow, 35%), 25%);

    .feature-title {
        text-transform: uppercase;

        @media(min-width: $bp-md) {
            text-transform: none;
        }
    }
    @media(min-width: $bp-md) {
        background-color: inherit;
    }
}

.feature-group {
    padding: 0 8px;
}

/* Feature Work items */
.feature-item {
    margin-bottom: 1.5rem;
    padding: 0 7px;
    img {
        width: 100%;
    }
    h4 {
        margin-top: 0.25rem;
        margin-bottom: 0;
    }
    a {
        @media(max-width: $bp-lg) {
            font-size: 0.9rem;
        }
    }
}

footer {
    font-size: .85rem;
    color: $color-lightGray4;
    background: $color-footer-bg;
}
